/* stylelint-disable no-duplicate-selectors */

/* deel 1: start CSS */

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #fff;
}

body {
  border: 10px solid white;
  height: 600px;
  margin: 20px auto;
  max-width: 300px;
  padding: 40px 100px;
}

h1 {
  margin-top: 30px;
}

main {
  padding-top: 30px;
}

mark {
  background-color: transparent;
}

footer {
  margin-top: 35px;
}

/* deel 2: achtergronden */

html {
  background-image: url("../img/tile.png");
}

body {
  background-image: url("../img/bg.png");
  background-size: cover;
}

/* deel 3: lettertypes */

body {
  font-family: Arial;
}

h1 {
  font-family: "Caveat";
}

main p {
  font-family: "Indie Flower";
}

/* deel 4: tekstopmaak */

h1 {
  font-weight: 400;
  color: #444444;
}

h1 span {
  color: #9d1607;
}

p {
  color: #1b0d95;
  font-size: 1.5rem;
}

mark {
  font-weight: 700;
  position: relative;
}

main p mark:last-of-type {
  text-transform: uppercase;
}

footer {
  font-family: "Indie Flower";
  text-align: end;
}

.date {
  font-size: 1rem;
}

/* deel 5: schaduwen */
mark::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 7px;
  bottom: 7px;
  background-color: rgba(255, 182, 193, 0.5);
  filter: blur(10px);
}
